<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>教員情報編集ページ</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
</head>
<body>
<header class="navbar">
    <div class="logo">
        <div class="logo-icon">教員</div>
        <h1>成績管理システム</h1>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
    </div>
    <nav class="nav-links">
        <a href="/">トップ</a>
        <a href="/studentList">学生</a>
        <a href="/courseList">コース</a>
        <a href="/teacherList">教員</a>
        <a href="/kamokuList">科目</a>
        <a href="/grades">成績入力</a>
        <button class="btn-logout">ログアウト</button>
    </nav>
</header>
<h1>教員情報編集ページ</h1>
<form th:action="@{/editTeacher}" th:Object="${teacher}" method="post">
    <table>
        <tr>
            <td>教員ID</td>
            <td><span th:text="${teacher.teacherId == 0 ? '' : teacher.teacherId}"/>
                <input type="hidden" th:field="*{teacherId}"> </td>
        </tr>
        <tr>
            <td>教員名</td>
            <td><input type="text" th:field="*{teacherName}"></td>
        </tr>
    </table>
    <div style="padding-top:10px;">
        <button type="submit" class="custom_btn"
                style="width:120px;height:40px;">更新</button>
    </div>
</form>
</body>
</html>