<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>授業情報編集ページ</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
</head>
<body>
<header class="navbar">
    <div class="logo">
        <div class="logo-icon">成績</div>
        <h1>成績管理システム</h1>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
    </div>
    <nav class="nav-links">
        <a href="/">トップ</a>
        <a href="/studentList">学生</a>
        <a href="/courseList">コース</a>
        <a href="/teacherList">教員</a>
        <a href="/kamokuList">科目</a>
        <a href="/grades">成績入力</a>
        <button class="btn-logout">ログアウト</button>
    </nav>
</header>
<h1>授業情報編集ページ</h1>
<form th:action="@{/editClass}" th:Object="${class}" method="post">
    <table>
        <tr>
            <td>科目ID</td>
            <td><span th:text="${class.kamokuId == 0 ? '' : class.kamokuId}"/>
                <input type="hidden" th:field="*{kamokuId}"> </td>
        </tr>
        <tr>
            <td>科目名</td>
            <td><span th:text="${class.kamokuName}"/>
                <input type="hidden" th:field="*{kamokuName}"> </td>
        </tr>
        <tr>
            <td>コース</td>
            <td>
                <select th:field="*{courseId}">
                    <option value="" disabled selected>
                        コースを選択してください</option>
                    <option th:each="c : ${courseList}"
                            th:value="${c.courseId}"
                            th:text="${c.courseName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>学年</td>
            <td>
                <select th:field="*{gakunen}">
                    <option value="" disabled selected>
                        学年を選択してください</option>
                    <option value="1">１年</option>
                    <option value="2">２年</option>
                    <option value="3">３年</option>
                </select>
            </td>
        </tr>
    </table>
    <div style="padding-top:10px;">
        <button type="submit" class="custom_btn"
                style="width:120px;height:40px;">更新</button>
    </div>
</form>
</body>
</html>