<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>あなたのことを教えてください。</h1>
    <form action="/profile" method="post">
        <table>
            <tr>
                <td>名前：</td>
                <td><input type="text" name="txtName"/></td>
            </tr>
            <tr>
                <td>趣味：</td>
                <td><input type="text" name="txtHobby"/></td>
            </tr>
            <tr>
                <td>星座：</td>
                <td>
                    <select id="cmbSeiza" name="cmbSeiza">
                        <option value="">-- 選択してください --</option>
                        <option value="牡羊座（Aries）">牡羊座（Aries）</option>
                        <option value="牡牛座（Taurus）">牡牛座（Taurus）</option>
                        <option value="おおめざ（Taurus）">おとめ座（Taurus）</option>
                    </select>
                </td>
            </tr><tr><td>性別:</td>
                <td>
                    <input type="radio" id="man" name="seibetu" value="男性"/>男性
                    <input type="radio" id="woman" name="seibetu" value="女性"/>女性
                    <input type="radio" id="nazo" name="seibetu" value="不明"/>不明
                </td>
            </tr><tr><td>好きなスポーツ:</td>
            <td>
                <input type="checkbox" id="tennis" name="sports" value="テニス"/>テニス
                <input type="checkbox" id="baseball" name="sports" value="野球"/>野球
                <input type="checkbox" id="basketball" name="sports" value="バスケ"/>バスケ
            </td>
            </tr>
        </table>
        <br>
        <button type="submit"
         style="width:200px;height:40px;">送信！！</button>
    </form>
</body>
</html>