table th{
    background:linear-gradient(to bottom, lightblue, blue);
    color:white;
}
table tr td{
    background-color:white;
    color:black;
}
.custom_btn{
    background:linear-gradient(to bottom, lightblue, blue);
    color:white;
    width:120px;
    height:40px;
    font-size:16px;
}

.titlebar{
    color:white;
    background:linear-gradient(to bottom
                            , lightblue, blue);
}
.titlebar2{
    color:white;
    background:linear-gradient(to bottom
                            ,coral, wheat);
}